<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mike</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="fixed-header">
		<header class="navigation">
			<h1 class="header"><a href="/">Mike Ramos</a></h1>
			<ul>
					{{!-- <li><a href="/">Home</a></li> --}}
			</ul>
		</header>
		<div class="video-list">
			<ul class="videos-list">
				{{#each data}}
					<li data-id = {{@index}} onclick="changeBackground(this)">
						<a href="#{{title}}">{{title}}</a>
					</li>
				{{/each}}
				<li><a href="/blog">Blog</a></li>
			</ul>	
		</div>
	</div>

	<div id="main-container" class="main-container">
		{{{body}}}
	</div>
</body>
</html>