<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mike</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<header class="navigation">
		<h1 class="header">Mike Ramos</h1>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
		</ul>
	</header>
	
    {{{body}}}

</body>
</html>