<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mike</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
    <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="fixed-header">
		<header class="navigation">
			<h1 class="header three columns"><a href="/">Mike Ramos</a></h1>
			<h1 class="header three columns"><a href="/videos">Videos</a></h1>
			<h1 class="header three columns"><a href="/blog">Blog</a></h1>
			<h1 class="header three columns"><a href="/contact">Contact</a></h1>

		</header>
	</div>

	<div id="main-container" class="main-container">
		{{{body}}}
	</div>

</body>
</html>