<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mike</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
	<h1 class="color-wht">I will render other files below</h1>
    {{{body}}}

</body>
</html>