{{#each data}}
{{#if this.active}}
	<div class="bg active-bg" style="background-image: url({{image}})">
{{else }}
	<div class="bg" style="background-image: url({{image}})">
{{/if}}
		<div class="video-container">
		<div class="play-button" onclick="add_class('.main-videos', 'show-video')"><a href="#">button</a></div>

		<iframe class="main-videos" src={{this.link}} width="75%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		{{!-- <p><a href="https://vimeo.com/134398465">David Gilmour - Rattle That Lock</a> from <a href="https://vimeo.com/trunkanimation">Trunk Animation</a> on <a href="https://vimeo.com">Vimeo</a>.</p> --}}
	</div>
</div>
{{/each}}
