body{
	/*background: rgb(66,66,66);*/

	width: 100vw;
	height: 100vh; 
	margin: 0;
}

.fixed-header{
	position: fixed;
	width: 100vw;
	z-index: 1;
	top:0;
}

.main-container{
	width: 100vw;
	height: 100vh;
}

.hide-left{
	left: -100vw!important;
	transition: linear 1s;
}

.hide-right{
	left: 100vw!important;
	transition: linear 1s;	
}

.show{
	left: 0;
	transition: linear 1s;	
}

.bg{
	position: absolute;
	background-repeat: no-repeat;
	background-position:  center center;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.main-videos{
	width: 100%;
	height: 100%;	
	display: block;
	opacity: 0;
	transition: opacity 2s;
}

.show-video{
	opacity: 1;
}

.video-container {
	display: block;
	width: 70vw;
	height: calc(70vw * 9/16);
	margin: 20vh auto 0 auto;
	position: relative;
}

.play-button {
	display: block;
	/*margin: auto;*/
	top: 50%;
	left: 50%;
}

.navigation {
	font-family: 'Nova Square', sans-serif;
	text-align: center;
	background-color: ;
	/*padding-bottom: 20px;*/
}

ul {
	list-style: none;
  padding: 0;
  margin: 0;
}

li {
	font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}

a {
	text-decoration: none;
  color: #fff;
  display: block;
}

a:hover {
	color: red;
}

a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

.videos-list {
	text-align: center;
}

.videos-list li {
	padding-left: 20px;	
	padding-right: 20px;
}

.header{
	margin: 0;
	padding: 1.5% 0; 
}


/*.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.navigation a:hover {
	color: red;
}

.navigation a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.videos ul {
	list-style: none;
  padding: 0;
  margin: 0;
}

.videos li {
	font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}*/