body{
	width: 100vw;
	height: 100vh; 
	margin: 0;
	overflow: hidden;
}

.fixed-header{
	position: fixed;
	width: 100vw;
	z-index: 1;
	top:0;
}

.main-container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.hide-left{
	left: -100vw!important;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
	transition: 1s;
}

.hide-right{
	left: 100vw!important;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
	transition: 1s;	
}

.show{
	z-index: 0!important;
	left: 0;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
	transition: 1s;	
}

.bg{
	z-index: -5;
	position: absolute;
	background-repeat: no-repeat;
	background-position:  center center;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
    transition: 2s;
}

.op-08{
	opacity: 0.8;
}

.main-videos{
	width: 100%;
	height: 100%;	
	display: block;
	opacity: 0;
	transition: opacity 2s;
}

.show-video{
	opacity: 1;
}

.video-container {
	display: block;
	height: 70vh;
	width: calc(70vh * 16/9);
	margin: 15vh auto 0 auto;
	position: relative;
}

.play-button {
	z-index: 1;
	width: 5vw;
	height: 3vw;
	background: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
}

.navigation {
	font-family: 'Nova Square', sans-serif;
	text-align: center;
	background-color: ;
}

.videos-list ul {
	list-style: none;
  	padding: 0;
  	margin: 0;
  	height: 4vw;
  	line-height: 4vw;
  	display: inline-block;
  	position: relative;
}

.videos-list li {
	box-sizing: border-box;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 50%;
	background: black;
	opacity: 0.5;
	border: 4px solid white;
  	display: inline-block;
  	margin-right: 1em;
  	vertical-align: middle;
  	transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}

.videos-list li:hover{
	width: 3.5vw;
	height: 3.5vw;
    transition: 0.05s linear;
    -webkit-transition: 0.05s linear;
}

.show-title{
	color: white!important;
	text-shadow: 2px 2px 6px black;
	transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}

.videos-list ul div{
	width: 100%;
	bottom: 100%;
	display: inline-block;
	position: absolute;
    left: 0;
    right: 0;
    color: transparent;
}

.videos-list a {
	width: 100%;
	height: 100%;
	text-decoration: none;
  	color: #fff;
  	display: block;
}

a:hover {
	color: red;
	cursor: pointer;
}

a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

.videos-list {
	position: absolute;
	left: 0;
	right: 0;
	height: 10vh;
	bottom: 0;
	text-align: center;
}

.header{
	margin: 0;
	padding: 1.5% 0; 
}

.navigation {
	border: 1px black solid;

}

.navigation h1 {
	border: 1px red solid;
	display: inline-block;

}


/*.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.navigation a:hover {
	color: red;
}

.navigation a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.videos ul {
	list-style: none;
  padding: 0;
  margin: 0;
}

.videos li {
	font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}*/