
.video-container {
	display: block;
	height: 70vmin;
	width: auto;
	margin: 15vh auto 0 auto;
	position: relative;
}
.op-08{
	opacity: 0.8;
}

.main-videos{
	width: 100%;
	height: 100%;	
	display: block;
	opacity: 0;
	transition: opacity 2s;
}
.show-video{
	opacity: 1;
}

.play-button {
	z-index: 1;
	width: 5vw;
	height: 3vw;
	background: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
}
.videos-list ul {
	list-style: none;
  	padding: 0;
  	margin: 0;
  	height: 4vw;
  	line-height: 4vw;
  	display: inline-block;
  	position: relative;
}

.videos-list li {
	box-sizing: border-box;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 50%;
	background: black;
	opacity: 0.5;
	border: 4px solid white;
  	display: inline-block;
  	margin-right: 1em;
  	vertical-align: middle;
  	transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}

.brd-clr-blu{
	border-color: blue!important;
}

.videos-list li:hover{
	width: 3.5vw;
	height: 3.5vw;
    transition: 0.05s linear;
    -webkit-transition: 0.05s linear;
}

#selected-title:hover{
	cursor: pointer;
}

.show-title{
	color: rgba(255,255,255,0.8)!important;
	text-shadow: 2px 2px 6px black;
	background: rgba(0,0,0,0.4);
	transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}

.videos-list ul div{
	width: auto;
	bottom: 100%;
	display: inline-block;
	position: absolute;
    left: 0;
    right: 0;
    border-radius: 10px;
    color: transparent;
}

.videos-list a {
	width: 100%;
	height: 100%;
	text-decoration: none;
  	color: #fff;
  	display: block;
}

.videos-list {
	position: absolute;
	left: 0;
	right: 0;
	height: 10vh;
	bottom: 0;
	text-align: center;
}